VUE_APP_WEB_URL=http://3dbag.localhost:9080
VUE_APP_DOCS_URL=http://docs.3dbag.localhost:9080
VUE_APP_API_URL=http://api.3dbag.localhost:9080
VUE_APP_DATA_URL=http://data.3dbag.localhost:9080
VUE_APP_DASHBOARD_URL=http://dashboard.3dbag.localhost:9080
